/* #chat-container {
    position: fixed;
    bottom: 85px;
    left: 20px;
    width: 30vw;
    height: 80vh;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(243, 207, 207, 0.2);
    overflow: hidden;
  }
  #chat-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  #fullscreen-btn,
  #exit-fullscreen-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    display: none;
    z-index: 10;
    color: #919b9c;
  }
  #fullscreen-btn:hover,
  #exit-fullscreen-btn:hover {
    transform: scale(1.1);
    color: #000000;
  }
  @media (max-width: 768px) {
    #chat-container {
      bottom: 80px;
      right: 20px;
      width: 90vw;
      height: 80vh;
    }
  }
   */